body {
    text-align: center;
    background-image:url(https://media.istockphoto.com/photos/republic-of-south-africas-national-flag-picture-id539125428?k=20&m=539125428&s=612x612&w=0&h=SKk7Th94TqVAZvusfELFG7DWgJ-7j5MHKQNQuMa9IwI=);
    background-size: cover;
}

